In [1]:
#to find the index for a string
x = "amie"
print(x[0:-1])

ami

In [2]:
x.index('i')

2

In [3]:
#it counts the first variable of the string as 0
p = ["amie", "janet", "susan", "ayo", "bola"]
index_val = p.index("janet")
y_val = p[index_val+1:]
print(y_val)

['susan', 'ayo', 'bola']

In [4]:
z_val = p[:index_val]
print(z_val)

['amie']

In [5]:
d = ["juan", "kate", "mitchell", "funmi", "angel", "ada", "lola", "joy"]
count_avg = int(len(d)/2)
new_count_avg = count_avg - 1

if len(d)%2 !=0:
    print(d[count_avg])
    
else:
    med_val = d[count_avg]
    val_med = d[new_count_avg]
    print(f"{med_val} and {val_med}")

angel and funmi

In [6]:
arr1 = [3,6, "jane", "bella"]
arr1.append("daniel")
print(arr1)

[3, 6, 'jane', 'bella', 'daniel']

In [7]:
arr1 = [3,6, "jane", "bella"]
arr2 = ["tola", "madu"]
arr1.append(arr2)
print(arr1)

[3, 6, 'jane', 'bella', ['tola', 'madu']]

In [8]:
print(arr1 + arr2)

[3, 6, 'jane', 'bella', ['tola', 'madu'], 'tola', 'madu']

In [15]:
array1 = ["teni", "tiwa", "tems", "rihanna"]
for i in array1:
    print(i)

teni
tiwa
tems
rihanna

In [16]:
array1 = "teni", "tiwa", "tems", "rihanna"
for i in array1:
    if i[0] == "r":
        print(i)

rihanna

In [18]:
r_names = []
array1 = ["teni", "tiwa", "tems", "rihanna"]
for i in array1:
    if i[0] == "r":
        r_names.append(i)
        print(r_names)

['rihanna']

In [20]:
#to change from lower case to upper case for first letters
new_surnames =[]
array_names = ["jacob", "obi", "moses", "victor"]

for i in array_names:
    cap_names = i[0].upper() + i[1:]
    new_surnames.append(cap_names)
    print(cap_names)
print(new_surnames)

Jacob
Obi
Moses
Victor
['Jacob', 'Obi', 'Moses', 'Victor']

In [21]:
# to join names
print (array1)

for i in range(0, len(array1)):
    fullnames = f"{new_surnames[i]} {array1[i]}"
    print(fullnames)

['teni', 'tiwa', 'tems', 'rihanna']
Jacob teni
Obi tiwa
Moses tems
Victor rihanna

In [23]:
# to select a string from an array
#str stands for string

element =["hannah", "shalom", 10, 15, "design"]
for i in element:
    test = isinstance(i, str)
    if test == True:
       print(test)

True
True
True

In [24]:
element = ["hannah", "shalom", 10, 15, "design"]
for i in element:
    test = isinstance(i, str)
    if test == True:
       print(i)

hannah
shalom
design

In [25]:
type("hannah")

str

In [26]:
for i in element:
    p =type(i)
    if p ==int:
        print(i)

10
15

In [29]:
new_list = []
d =["juan", "kate", "mitchell", "funmi", "angel", "ada", "lola", "joy"]
for i in d:
    k = type(i)
    if k == str:
       new_list.append(i)
if len(new_list)==len(d):
    print("yes they are all strings")
else:
    print("No, they are not all strings")

yes they are all strings

In [30]:
new_list = []
d =["juan",10, "kate", "mitchell", "funmi", "angel", "ada", "lola", "joy"]
for i in d:
    k = type(i)
    if k == str:
       new_list.append(i)
if len(new_list)==len(d):
    print("yes they are all strings")
else:
    print("No, they are not all strings")

No, they are not all strings