In [1]:
names = {"name": "bola", "married": True, "salary": 5000}
print(type(names))
print(names["name"])
print(names["married"])

<class 'dict'>
bola
True

In [2]:
names["age"] = 45
print(names)

{'name': 'bola', 'married': True, 'salary': 5000, 'age': 45}

In [8]:
arr = []
for i, l in names.items():
    b = f"{i}:{l}"
    arr.append(b)
print(arr)
arr1 = []
for n in arr:
    c = n.split(":")
    arr1.append(c)
print(arr1)

['name:bola', 'married:True', 'salary:5000', 'age:45']
[['name', 'bola'], ['married', 'True'], ['salary', '5000'], ['age', '45']]

In [2]:
dict_file = [{"name": "jake", "age":30, "M": True},
            {"name": "fani", "age":20, "M": True},
            {"name": "susan", "age":21, "M": False},
            {"name": "Beeniel", "age":25, "M": False},
            ]
print(dict_file)
print(type(dict_file))

[{'name': 'jake', 'age': 30, 'M': True}, {'name': 'fani', 'age': 20, 'M': True}, {'name': 'susan', 'age': 21, 'M': False}, {'name': 'Beeniel', 'age': 25, 'M': False}]
<class 'list'>

In [3]:
# adding salary to the list
dict2 = []
for i in dict_file:
    for a in range(0, len(i)):
        c =i["salary"] =5000
    #print(i)
    dict2.append(i)
print(dict2)

[{'name': 'jake', 'age': 30, 'M': True, 'salary': 5000}, {'name': 'fani', 'age': 20, 'M': True, 'salary': 5000}, {'name': 'susan', 'age': 21, 'M': False, 'salary': 5000}, {'name': 'Beeniel', 'age': 25, 'M': False, 'salary': 5000}]

In [4]:
# getting a list for only the married
new_dict = []
for k in dict2:
    for c, d in k.items():
        if c == "M" and d == True:
            new_dict.append(k)
print(new_dict)

[{'name': 'jake', 'age': 30, 'M': True, 'salary': 5000}, {'name': 'fani', 'age': 20, 'M': True, 'salary': 5000}]

In [5]:
# a list for the married whose age is between 25 and 30
age_dict = []
for i in new_dict:
    for e, f in i.items():
        if e == "age" and f >= 25 <=30:
            age_dict.append(i)
print(age_dict)

[{'name': 'jake', 'age': 30, 'M': True, 'salary': 5000}]

In [6]:
# adding 5% of the salary to their salary
add_5 = []
for i in age_dict:
    for a, b in i.items():
        if a == "salary" and b == 5000:
            i["salary"] = i["salary"] + 5/100 * i["salary"]
    add_5.append(i)
print(add_5)

[{'name': 'jake', 'age': 30, 'M': True, 'salary': 5250.0}]

In [7]:
# adding 'sex' into the list
for i in dict2:
    i["Sex"] = "female"
    print(i)

{'name': 'jake', 'age': 30, 'M': True, 'salary': 5250.0, 'Sex': 'female'}
{'name': 'fani', 'age': 20, 'M': True, 'salary': 5000, 'Sex': 'female'}
{'name': 'susan', 'age': 21, 'M': False, 'salary': 5000, 'Sex': 'female'}
{'name': 'Beeniel', 'age': 25, 'M': False, 'salary': 5000, 'Sex': 'female'}

In [11]:

sex_dict = []
for i in dict2:
    for a, b in i.items():
        if a == "Sex" or b == "fani" or b == "jake":
            i["Sex"] = "male"
    sex_dict.append(i)
print(sex_dict)

[{'name': 'jake', 'age': 30, 'M': True, 'salary': 5250.0, 'Sex': 'male'}, {'name': 'fani', 'age': 20, 'M': True, 'salary': 5000, 'Sex': 'male'}, {'name': 'susan', 'age': 21, 'M': False, 'salary': 5000, 'Sex': 'male'}, {'name': 'Beeniel', 'age': 25, 'M': False, 'salary': 5000, 'Sex': 'male'}]

In [72]:
married = []
for i in sex_dict:
    for a, b in i.items():
        if a == "M" and b == True:
            married.append(i)
print(married)

[{'name': 'jake', 'age': 30, 'M': True, 'salary': 5250.0, 'sex': 'female'}, {'name': 'fani', 'age': 20, 'M': True, 'salary': 5000, 'sex': 'male'}]

In [70]:
marr_men = []
for i in married:
    for a, b in i.items():
        if a == "sex" and b == "male":
            marr_men.append(i)
print(marr_men)

[{'name': 'fani', 'age': 20, 'M': True, 'salary': 5000, 'sex': 'male'}]

In [10]:
new_list = []
for a in dict_file:
    for i, j in a.items():
        if i == "age" and j <= 20:
            a["age"] = a["age"] + 5
    new_list.append(a)
print(new_list)

[{'name': 'jake', 'age': 30, 'M': True}, {'name': 'fani', 'age': 25, 'M': True}, {'name': 'susan', 'age': 21, 'M': False}, {'name': 'Beeniel', 'age': 25, 'M': False}]

In [12]:
import pandas as pd
df = pd.DataFrame(new_list)
df.to_csv("foolish_file2.csv", index=False)

In [13]:
a_m = [["name", "age", "m"], ["john", 34, True], ["mike", 25, False]]
print(a_m)

[['name', 'age', 'm'], ['john', 34, True], ['mike', 25, False]]

In [14]:
a = ['name', 'age', 'm']
b = ['john', 34, True]
z = zip(a, b)
print(z)

<zip object at 0x000001CEF06DA080>

In [15]:
l_df = pd.DataFrame(a_m, columns=[a_m[0]])
l_df

   name  age      m
0  name  age      m
1  john   34   True
2  mike   25  False

In [90]:
path = "C:/Users/alexl/Documents/Python Scripts/usa_gov.txt"
arr = []
with open(path, "r") as file:
     my_file = file.read()
arr.append(my_file)
#print(arr)

In [93]:
import json
records = [json.loads(line) for line in open(path)]
#print(records)
##list comprehension
    ##OR##
record = []
for i in open(path):
    b = json.loads(i)
    record.append(b)
print(record[:5])



a_arr = []
for n in records:
    if "a" in n:
        y = n["a"]
        a_arr.append(y)
#print(a_arr)

In [94]:
new_arr = []
for i in records:
    if "tz" in i:
        b = i["tz"]
        new_arr.append(b)
print(new_arr[:20])

['America/New_York', 'America/Denver', 'America/New_York', 'America/Sao_Paulo', 'America/New_York', 'America/New_York', 'Europe/Warsaw', '', '', '', 'America/Los_Angeles', 'America/New_York', 'America/New_York', 'America/New_York', 'Asia/Hong_Kong', 'Asia/Hong_Kong', 'America/New_York', 'America/Denver', 'Europe/Rome', 'Africa/Ceuta']

In [96]:
time_zones = [i['tz'] for i in records if 'tz' in i]
print(time_zones[:30])

['America/New_York', 'America/Denver', 'America/New_York', 'America/Sao_Paulo', 'America/New_York', 'America/New_York', 'Europe/Warsaw', '', '', '', 'America/Los_Angeles', 'America/New_York', 'America/New_York', 'America/New_York', 'Asia/Hong_Kong', 'Asia/Hong_Kong', 'America/New_York', 'America/Denver', 'Europe/Rome', 'Africa/Ceuta', 'America/New_York', 'America/New_York', 'America/New_York', 'Europe/Madrid', 'Asia/Kuala_Lumpur', 'Asia/Nicosia', 'America/Sao_Paulo', '', '', 'Europe/London']

In [98]:
df2 = pd.DataFrame(record)
df2.head()

,a,c,nk,tz,gr,g,h,l,al,hh,r,u,t,hc,cy,ll,_heartbeat_,kw
0,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,1.0,America/New_York,MA,A6qOVH,wfLQtf,orofrog,"en-US,en;q=0.8",1.usa.gov,http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/...,http://www.ncbi.nlm.nih.gov/pubmed/22415991,1.331923e+09,1.331823e+09,Danvers,"[42.576698, -70.954903]",NaN,NaN
1,GoogleMaps/RochesterNY,US,0.0,America/Denver,UT,mwszkS,mwszkS,bitly,NaN,j.mp,http://www.AwareMap.com/,http://www.monroecounty.gov/etc/911/rss.php,1.331923e+09,1.308262e+09,Provo,"[40.218102, -111.613297]",NaN,NaN
2,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,US,1.0,America/New_York,DC,xxr3Qb,xxr3Qb,bitly,en-US,1.usa.gov,http://t.co/03elZC4Q,http://boxer.senate.gov/en/press/releases/0316...,1.331923e+09,1.331920e+09,Washington,"[38.9007, -77.043098]",NaN,NaN
3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,BR,0.0,America/Sao_Paulo,27,zCaLwp,zUtuOu,alelex88,pt-br,1.usa.gov,direct,http://apod.nasa.gov/apod/ap120312.html,1.331923e+09,1.331923e+09,Braz,"[-23.549999, -46.616699]",NaN,NaN
4,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,0.0,America/New_York,MA,9b6kNl,9b6kNl,bitly,"en-US,en;q=0.8",bit.ly,http://www.shrewsbury-ma.gov/selco/,http://www.shrewsbury-ma.gov/egov/gallery/1341...,1.331923e+09,1.273672e+09,Shrewsbury,"[42.286499, -71.714699]",NaN,NaN