### for loop

In [2]:
for i in range(10 + 1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
sum = 0
for i in range(2, 22, 2):
    sum = sum + i
    print(sum)

2
6
12
20
30
42
56
72
90
110

In [4]:
vals = [1, 2, 3, 4, 5]
for i in vals:
    sqr = i ** 2
    print("square of:", i, "is:", sqr)

square of: 1 is: 1
square of: 2 is: 4
square of: 3 is: 9
square of: 4 is: 16
square of: 5 is: 25

In [5]:
num_val = [10, 20, 30, 40, 50]
sum = 0
for i in num_val:
    sum = sum + i
avg = sum /len(num_val)
print(avg)

30.0

In [6]:
for i in range(1, 11):
    if i % 2 == 0:
        print('Even number:', i)
    else:
        print('Odd number:', i)

Odd number: 1
Even number: 2
Odd number: 3
Even number: 4
Odd number: 5
Even number: 6
Odd number: 7
Even number: 8
Odd number: 9
Even number: 10

In [9]:
for i in range(9, 50):
    if i % 2 == 0:
        print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [10]:
for i in range(9, 50, 2):
    print(i)

9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

## using break in for loop

In [12]:
vals = [1, 4, 7, 8, 15, 20, 35, 45, 55]
for i in vals:
    if i > 15:
        break
    else:
        print(i)

1
4
7
8
15

## continue statement in for loop

In [3]:
name = "Eketi Edem Edet"
count = 0
for i in name:
    if i != 'E':
        continue
    else:
        count = count + 1
print('Total number of E is:', count)

Total number of E is: 3

### using the pass statement in for loop

In [15]:
num = [1, 4, 5, 3, 7, 8]
for i in num:
    pass

### using the Else block in for loop

In [16]:
for i in range(1, 6):
    print(i)
else:
    print("Done")

1
2
3
4
5
Done

In [18]:
count = 0
for i in range(1, 6):
    count = count + 1
    if count > 2:
        break
    else:
        print(i)
else:
    print("Done")

1
2

## using reverse in for loop

In [19]:
list = [10, 20, 30, 40]
for i in reversed(list):
    print(i)

40
30
20
10

In [21]:
print("Reverse numbers using for loop")
num = 5
for num in (range(num, -1, -1)):
    print(num)

Reverse numbers using for loop
5
4
3
2
1
0

In [22]:
nums = [1, 2, 3, 4]
for i in nums[:: -1]:
    print(i)

4
3
2
1

## Nested loops

In [23]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [28]:
for i in range(1, 6):
    print('multiplication table of:', i)
    count = 1
    while count < 11:
        print(i * count, end='')
        count = count + 1
    print('\n')

multiplication table of: 1
12345678910

multiplication table of: 2
2468101214161820

multiplication table of: 3
36912151821242730

multiplication table of: 4
481216202428323640

multiplication table of: 5
5101520253035404550

In [29]:
odd = [1, 5, 7, 9]
even = [i + 1 for i in odd if i % 2 == 1]
print(even)

[2, 6, 8, 10]